# Postfix configuration for SMTP relay
# Managed by Ansible

relayhost = [{{ smtp_relay_host }}]:{{ smtp_relay_port }}
smtp_use_tls = yes
smtp_sasl_auth_enable = yes
smtp_sasl_security_options = noanonymous
smtp_sasl_password_maps = hash:/etc/postfix/sasl_passwd
smtp_tls_CAfile = /etc/ssl/certs/ca-certificates.crt
